/* <input class="input-text" type="text"> */
.input-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}
.input-text:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

/* <textarea class="textarea"></textarea> */
.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  width: 100%;
}
.textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

/* <label><input class="radio" type="radio" name="radio-name"><span>ラジオ１</span></label> */
.radio {
  display: none;
}
.radio + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0; /* 各項目の右側の余白 */
  padding: 0 0 0 1.2em; /* ○と項目の間の余白 */
  position: relative;
}
.radio + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}
.radio + span::after {
  -webkit-transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.32);
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 4px;
  opacity: 0;
  padding: 2px; /* ●と○の間 */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 8px;
}
.radio:checked + span::after {
  opacity: 1;
}

/* <label><input class="check" type="checkbox" name="check-name"><span>チェック１</span></label> */
.check {
  display: none;
}
.check + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em; /* □と文章(項目)の間の余白 */
  position: relative;
}
.check + span::before {
  /* -webkit-transform: translateY(-50%); 今回はここを削除しないと位置がずれる*/
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); 今回はここを削除しないと位置がずれる */
  width: 1em;
}
/* .check + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid rgba(0, 0, 0, 0.32);
  border-left: 3px solid rgba(0, 0, 0, 0.32);
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
} */
.check:checked + span::after {
  opacity: 1;
}
/* チェックを画像にする場合 (今回) */
.check:checked + span::after {
  -webkit-transform: translateY(-50%);
  background: url() no-repeat;
  background-size: contain; /* サイズ指定 */
  content: "";
  display: inline-block;
  height: 30px; /* 数値でないと表示されない。100%はダメ */
  left: 0;
  margin-top: -0.2em;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease 0s;
  width: 30px; /* 数値でないと表示されない。100%はダメ */
}

/* <select class="select">
  <option>セレクトA</option>
  <option>セレクトB</option>
  <option>セレクトC</option>
</select> */
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}
.select::-ms-expand {
  display: none;
}
.select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

/* <input class="submit-btn" type="submit" value="送信"> */
.submit-btn {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.32);
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  text-decoration: none;
}
.submit-btn:hover,
.submit-test:focus {
  outline: none;
}
.submit-btn::-moz-foucus-inner {
  border: none;
  padding: 0;
}

/* <button class="submit-button" type="button">ボタン</button> */
.submit-button {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* 疑似要素付き */
.submit-button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  font-size: 2.2rem;
  line-height: 3.6rem;
  color: white;
  background-color: blue;
  border-radius: 12px;
  width: 261px;
  height: 56px;
  position: relative;
}
.submit-button::after {
  position: absolute;
  content: '';
  background: url() no-repeat;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 60.5px;
  top: 18px;
}
.submit-button:hover {
  cursor: pointer;
}